.transactionhistory {
    width: 250px;
    margin-left: 10px;
    border-collapse: collapse;
    margin-bottom: 15px;
    background-color: beige;
    
  }
  
  .transactionhistory th,
  .transactionhistory td {
    padding: 8px;
    border: 1px solid gray;
  }
  
  .transactionhistory th {
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: cyan;
    text-transform: uppercase;
  }
  
 